@import url('../event_main.css');

#create_event_container {
	margin:20px 0px 0px 0px;
	width:100%;
}

#form_container {
	float:left;
}

#preview_container {
	float:left;
	color:white;
 margin:0px 0px 0px 250px;
 
}

#preview_label {
	font-style:italic;
	font-size:18px;
	margin:0px 0px 10px;
	color:black;
}

#preview_container label {
	color:white;
}

.form_table {
	border:0px;
 width:340px;
}

.form_table td {
	border:0px;
}

.info_table {
	border:0px;
}

.info_table td {
	border:0px;
}

#left_div {
  float:left;
}

#mid_div {
  float:left;
}

#right_div {
  float:left;
}

#submit_div {
  margin:20px 0px 0px 50px;
}

.size_input_tag {
  width:25px;
}

.events_input_tag {
  width:170px;
}
