#gallery_div #image_div {
  display:none;
  position:absolute;
  margin:-100px 0px 0px 250px;
  border:2px solid black;
  padding:5px;
  background-color:gray;
  text-align:center;
}

#gallery_upload_div form {
	 margin:0px;
}

#gallery_upload_div table {
	 margin:0px;
  border:0px;
}

#gallery_upload_div table input {
  width:200px;
}

#gallery_upload_div .notes {
  font-style:italic;
		margin:0px 0px 20px 10px;
}
