table {
	border:1px solid black;
	border-collapse:collapse;	
}

th {
	border:1px solid black;
	border-collapse:collapse;	
	padding:3px;
	background-color:#cccccc;
	font-size:16px;
}

td {
	border:0px solid black;
	padding:3px 3px 0px 10px;
	font-size:14px;
	height:30px;
}

h1 {
	font-size:20px;
	font-weight:normal;
	font-style:italic;
}

#upcoming_events_admin_div {
	padding-left:19px;
	padding-bottom:2px;
}

#upcoming_asian_events {
	float:left;
	width:50%;
}

#upcoming_mixed_events {
	float:left;
	width:50%;
}

#all_events {
	clear:both;
	width:100%;
	padding:30px 0px 0px 0px;
}

.event_select {
	display:none;
}

.sc_links {
	display:none;
}

.even {
	background-color:#eaeaea;
}

.odd {
	background-color:#ffffff;
}
