form {
  margin:0px;
} 

#input_media_form {
  padding:10px 0px 0px 30px;
}

#social_media_account_list_div {
  padding:10px 0px 0px 30px;
}

#add_song_form{ 
  padding:10px 0px 0px 30px;
}

#music_list_div {
  padding:10px 0px 0px 30px;
}
