.flyer_div {
  background: url('/images/main_flyer_bg.jpg') repeat-x;
  width: 609px;
  height: 358px;
  margin:auto;
  text-align:center;
}

.flyer_div_2 img {
	 width: 605px;
	 height: 530px;
}

.main_event_info_2 {
  position:absolute;
  display:none;
  background: url('/images/main_info_bg.jpg') repeat-x;
 	width: 607px;
 	height:171px;
  border-bottom: 1px solid #133847;
  border-left: 1px solid #133847;
  border-right: 1px solid #133847;
}

.info_container {
	color:white;
	padding:10px 0px 0px 8px;
	font-size:14px;
	font-family:'arial';
	font-weight:none;
}

.info_container td {
		width:280px;
}

.info_table_spacer {
	height:25px;
}

.info_table td {
  vertical-align: top;
}

#bottom_nav {
  background: url('/images/bot_nav_bg.jpg') repeat-x;
  width: 100%;
  height: 30px;
}

#bottom_nav ul {
  position: relative;
  margin: 5px;
  padding: 0px;
}

#bottom_nav li {
  position: absolute;
  list-style:none;
  margin: 0;
  padding 0px;
}

#bottom_nav a {
  height:30px;
  width: 100%;
  display:block;
  float:left;
}

#guest_list {
  background: url('/images/sprite.png') -290px -100px;
  width: 120px;
  left: 20px;
}

#guest_list a:hover {
  background: url('/images/sprite.png') -289px -124px;
  width: 120px;
  left: 20px;
}

#bot_nav_divider_guest_list {
  background: url('/images/sprite.png') -17px 3px;
  width: 2px;
  left: 170px;
  height: 32px;
}

#special_packages {
  background: url('/images/sprite.png') -255px -175px;
  width: 175px;
  left: 205px;
}

#special_packages a:hover {
  background: url('/images/sprite.png') -253px -203px;
  width: 175px;
  left: 205px;
}

#bot_nav_divider_special_packages {
  background: url('/images/sprite.png') -17px 3px;
  width: 2px;
  left: 420px;
  height: 32px;
}

#venue_details {
  background: url('/images/sprite.png') -275px -232px;
  width: 130px;
  left: 450px;
}

#venue_details a:hover {
  background: url('/images/sprite.png') -276px -258px;
  width: 130px;
  left: 450px;
}

