.media_header_style {
  background-image: url('/images/media_bg.jpg');
  width: 1100px;
  height: 257px;
  padding: 15px 0px 0px 0px;
}

.media_header_style span {
  font-weight: bold;
  font-family: 'arial';
  font-size: 22px;
  margin: 10px 30px;
}

.media_header_style .main_img{
  float:right;
  width:350px;
  height:273px;
}

.media_header_style .main_img img {
  width:350px;
  height:273px;
}

.media_header_style .text_container {
  background: url('/images/featured_media_frame.jpg');
  width: 321px;
  height: 273px;
  float: right;
  margin-right: 80px;
}

.media_header_style .text_container img {
  margin:5px 0px 0px 10px;
}

.media_header_style .text_container .title {
}

.media_header_style .text_container .text {
  font-size: 10px;
  font-family: 'gothic';
  padding: 15px 5px;
}

.media_header_style .text_container .top {
  position:absolute;
  font-size: 21px;
  font-family: 'gothic';
  letter-spacing: 1px;
  color: #62c0fb;
  top: 240px;
  left: 965px;
}

.media_header_style .text_container .bottom {
  position:absolute;
  font-size: 21px;
  font-family: 'gothic';
  letter-spacing: 1px;
  top: 257px;
  left: 1015px;
}

#media_selector_container {
  margin:30px auto;
}

.media_banner {
  background: url('/images/sprite.png') -1px -454px;
  width: 224px;
  height: 46px;
}

#left_selector {
  width: 60px;
  height: 60px;
  float:left;
  margin: 125px 8px 0px 0px;
}

#right_selector {
  width: 60px;
  height: 60px;
  float:right;
  margin: 125px 0px 0px 8px;
}

#media_content_container {
  height:299px;
  width: 960px;
  float:left;
  overflow: hidden;
}

#media_content_container ul {
  padding:0px;
  left:230px;
}

#media_content_container li {
  float:left;
  list-style:none;
  overflow:hidden;
}

.media_content {
  text-align: center;
  margin:0px 8px;
}

.media_content .main_img {
  width: 224px;
  height: 170px;
}

.media_content_text {
  background: url('/images/sprite.png') -199px -391px;
  width: 224px;
  height: 58px;
}

.text {
  padding: 5px;
  text-align:left;
  font-size: 9px;
}
