#newsletter_container {
}

#newsletter_title {
}

#newsletter_body {
	background-color: #0f2f44;
	font-family: 'Arial';
	color: #FFFFFF;
	width: 250px;
}

#newsletter_text_1 {
	float:left;
	padding: 5px;
	margin: 0px 0px 0px 3px;
    font-size: 24px;
	color: #FFFFFF;
	font-weight:bold;
}

#newsletter_text_2 {
	padding: 6px 0px 0px 0px;
    font-size: 11px;
}

#newsletter_form {
 	font-size: 11px;
	font-family:'neuropol';
}

#newsletter_form_layout {
	border-collapse:collapse;
}

#newsletter_form_layout td {
	width:100%;
	padding:0px 10px 3px 10px;
}

#birthday_text input {
	width: 25px;
}

#newsletter_button {
	width:56px;
	height:21px;
	background-image:url('../images/newsletter_signup_button.png');
	background-repeat:no-repeat;
	margin:auto;
	padding-top:5px;
	text-align:center;
}

#newsletter_submit {
	text-align:center;
	padding: 3px 5px 3px 5px;
	border-top:2px solid #86a4b6;
}

#newsletter_submit a {
	color:white;
	font-size:14px;
	text-decoration:none;
}
