#newsletter_container {
  margin: 5px 0px 0px 5px;
}

#newsletter_body {
	font-family: 'gothic';
	color: white;
	width: 229px;
 margin:auto;
}

#newsletter_text {
 font-size:16px;
 margin:auto;
 width: 74%;
}

#newsletter_form {
 	font-size: 12px;
	 font-family: 'century gothic' sans-serif;
  margin: 10px 0px 0px 0px;
}

.newsletter_form_layout {
	border-collapse:collapse;
}

#newsletter_form_layout td {
	width:100%;
	padding:0px 10px 3px 10px;
}

#birthday_text input {
	width: 25px;
}

#button {
  background: url('/images/sprite.png') -110px 0px;
  width: 65px;
  height: 30px;
}

#spacer {
  height: 5px;
}

#button a{
 text-decoration:none;
 color:white;
	font-family: 'century gothic' sans-serif;
 margin:19px;
 font-size:11px;
}

#td_button {
  padding:0px 0px 0px 25px;
}
