@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'neuropol';
	src: url('../fonts/neuropol.tff');
}

.clear {
	clear:both;
}

#overlay {
	position:absolute;
	background-image:url('../images/overlay.png');
	background-repeat:repeat;
	width:100%;
	height:100%;
	z-index:10001;
	display:none;
}

#popup {
	margin:250px auto;
	background-image:url('../images/popup.png');
	background-repeat:no-repeat;
	width:272px;
	height:140px;
	z-index:10002;
}

#popup div{
	padding:30px 10px;
	color:white;
	font-size:14px;
}

#popup a{
	color:black;
}

body {
	padding:0;
	background-color: #000000;
	margin:0 auto;
	text-align: center;
}

.menu1 {
	position:absolute;
	height: 136px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	z-index: 12000;
	top: 0px;
	overflow: hidden;
}

#container {
	width: 1100px;
	padding-top: 0px;
}

#div-1 {
	background-image: url(../images/index/accessframe_bottom.png);
	background-repeat:no-repeat;
	padding: 0px 9px 9px 9px;
}

#index_body_left {
	margin:5px 0px 0px 5px;
	float:left;
	height:573px;
}

#index_body_middle {
	margin:5px 0px 0px 5px;
	float:left;
	height:573px;
}

#index_body_right {
	float:left;
	height:573px;
}

#mainarea{
	width:531px;
	height:573px;
}

 div#header{
	position:fixed;
	top:0px;
	height:136px;
	z-index: 12000;
	overflow: hidden;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
 }
 @media screen{
  body>div#header{
	position: fixed;
	text-align: center;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
  }
 }
 * html body{
  overflow:hidden;
 } 
 * html div#content{
  height:100%;
  overflow:auto;
 }
.movieplayer {
	float: left;
	position: absolute;
	bottom: 300px;
}
.style1 {color: #FFFFFF}
.header-container {
	left: auto;
	right: auto;
	margin-right: auto;
	margin-left: auto;
	width: 950px;
}

.oneColFixCtr #container {
	width: 1100px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: transparent;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: none;
	text-align: left;
}
#gd-1a {
	position: absolute;
	top: 126px;
	float: left;
	right: 5px;
	height: 258px;
}
#gd-1d {
	position: absolute;
	float: left;
	right: -1px;
	height: 770px;
	width: 950px;
	top: 1125px;
	overflow: hidden;
}
#chromakey {
	float: left;
	clear: right;
	border: 1px solid #999999;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	height: 230px;
	width: 230px;
	background-position: center center;
}
#chromatext {
	background-color: #999999;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 212px;
	width: 698px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#gd-1b {
	float: left;
	width: 950px;
	position: absolute;
	top: 396px;
}
#gd-1c {
	float: left;
	width: 950px;
	position: absolute;
	top: 643px;
	left: 0px;
}
#logodesign {
	float: left;
	clear: right;
	border: 1px solid #666666;
}
#logotext {
	background-color: #666666;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 212px;
	width: 698px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#gd-1e {
	float: left;
	width: 950px;
	position: absolute;
	top: 890px;
	left: 0px;
}
#vd-1a {
	position: absolute;
	top: 126px;
	float: left;
	right: 5px;
	height: 258px;
	left: 0px;
}
#vd-1b {
	float: left;
	width: 950px;
	position: absolute;
	top: 370px;
	left: 0px;
}
#vd-1c {
	float: left;
	width: 950px;
	position: absolute;
	top: 922px;
	left: 0px;
}
#vd-1d {
	float: left;
	width: 950px;
	position: absolute;
	top: 1448px;
	left: -1px;
}
#printtext {
	background-color: #333333;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 212px;
	width: 698px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#printdesign {
	float: left;
	clear: right;
	border: 1px solid #333333;
}
#video1 {
	background-color: #000000;
	clear: none;
	float: left;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 272px;
	width: 300px;
	padding: 0px;
	margin: 0px;
	font-size: medium;
}
#video2 {
	background-color: #000000;
	clear: none;
	float: left;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 272px;
	width: 300px;
	padding: 0px;
	margin: 0px;
	font-size: medium;
}
#video3 {
	background-color: #000000;
	clear: none;
	float: left;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 272px;
	width: 300px;
	padding: 0px;
	margin: 0px;
	font-size: medium;
}
#video1text {
	background-color: #999999;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 252px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#video2text {
	background-color: #666666;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 252px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#video3text {
	background-color: #333333;
	clear: none;
	float: right;
	font-family: "Century Gothic", Arial;
	color: #FFFFFF;
	height: 252px;
	padding: 10px;
	margin: 0px;
	font-size: medium;
}
#collapsable {
	position: absolute;
	left: 0px;
	top: 500px;
}
#mainarea {
	float:left;
}


#footer {
	margin:5px 0px 0px 10px;
}

#fadeshow1 {
	position: relative;
	float: left;
	padding: 0px;
	background-color: #282828;
	margin: 5px;
}
#fadeshow2 {
	padding: 0px;
	margin: 5px;
	float: left;
	background-color: #a3a1a1;
}
#fadeshow3 {
	position: relative;
	float: left;
	padding: 0px;
	margin: 5px;
}
#fadeshow4 {
	position: relative;
	float: right;
	padding: 0px;
	margin: 5px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
}

#thumbbackground {
	background-color: #282828;
	height: 244px;
	width: 262px;
}

#slideshow-container	{ width:939px; height:232px; position:relative; }
#slideshow-container img { width:939px; height:232px; display:block; position:absolute; top:0; left:0; z-index:1; }
#slideshow-container-controls { margin:3px 0 0 0; }
#slideshow-container-controls img { cursor:pointer; width:15px; height:15px; border:1px solid #ccc; float:left; margin:0 10px 0 0; }
#slideshow-container-caption  { height:0px; position:absolute; bottom:0; left:0; right:0; background:#000; z-index:10; overflow:hidden; }
* html #slideshow-container-caption { width:100%; }
#slideshow-container-caption h3 { font-size:16px; font-weight:bold; color:#fff; padding:0px 0px 0px 5px; font:Century Gothic; }
#slideshow-container-caption p	{
	color:#eee;
	font-size:11px;
	padding:0px 0px 0px 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.slideshow {
	background-image: url(http://www.mindgear.us/images/clicktonavigate.png);
	float: right;
	background-repeat: no-repeat;
}
.toc-active				{ border-color:#000; }
