@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'neuropol';
	src: url('../fonts/neuropol.tff');
}

.clear {
	clear:both;
}

#overlay {
	position:absolute;
	background-image:url('../images/overlay.png');
	background-repeat:repeat;
	width:100%;
	height:100%;
	z-index:10001;
	display:none;
}

#popup {
	margin:250px auto;
	background-image:url('../images/popup.png');
	background-repeat:no-repeat;
	width:272px;
	height:140px;
	z-index:10002;
}

#popup div{
	padding:30px 10px;
	color:white;
	font-size:14px;
}

#popup a{
	color:black;
}

body {
	padding:0;
	background-color: #000000;
	margin:0 auto;
	text-align: center;
}

.menu1 {
	position:absolute;
	height: 136px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	z-index: 12000;
	top: 0px;
	overflow: hidden;
}

#container {
	width: 1100px;
	padding-top: 0px;
}

#div-1 {
	background-image: url(../images/index/accessframe_bottom.png);
	background-repeat:no-repeat;
	padding: 0px 9px 9px 9px;
}

#index_body_left {
	margin:5px 0px 0px 5px;
	float:left;
	height:573px;
}

#index_body_middle {
	margin:5px 0px 0px 5px;
	float:left;
	height:573px;
}

#index_body_right {
	float:left;
	height:573px;
}

#mainarea{
	width:531px;
	height:573px;
}

.oneColFixCtr #container {
	width: 1100px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: transparent;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: none;
	text-align: left;
}

#footer {
	margin:5px 0px 0px 10px;
}
