#thumbnail_gallery {
	margin:5px 0px 0px 5px;
}

#thumb_container {
	height: 175px;
}

.img_slider {
	float:left;
	font-size:16px;
	color:white;
	width:21px;
	text-align:center;
	height:50%;
	padding-top:67px;
	font-family:'arial';
}
 
#fadeshow1 {
	float:left;
 width:185px;
}
