#upcoming_event_container {
	margin:5px 0px 0px 0px;
	height: 420px;
	overflow: hidden;
}

.event_table {
	color:white;
	font-size:12px;
	width:100%;
}

.event_table td {
	border-bottom:solid 1px white;
	padding: 3px 0px 3px 8px;
}

.event_img_div {
	float:left;
	width:55px;
	height:75px;
	margin:0px 5px 0px 0px;
}

.event_info_div {
	float:left;
	margin:auto;

}

.event_thumb {
	width:55px;
	height:75px;
}

.event_info_date {
	font-weight:bold;
	margin:5px 0px 0px 5px;
	
}

.event_info_name {
	color:#c3dbff;
	margin:1px 0px 0px 5px;
}

#asian_events {
	background-color:#191919;
	height:328px;
}

#mixed_events {
	background-color:#4D2A46;
	height:328px;
}
