<script type="text/javascript">
var mygallery=new fadeSlideShow({
	wrapperid: "fadeshow1", //ID of blank DIV on page to house Slideshow
	dimensions: [222, 167], //width/height of gallery in pixels. Should reflect dimensions of largest image
	imagearray: [
		["/images/newimages/thumb/party_0001.jpg","","","dlea ke aeaioen knawe iniaej"],
		["/images/newimages/thumb/party_0002.jpg"],
		["/images/newimages/thumb/party_0003.jpg","","","today at the hotspot"],
		["/images/newimages/thumb/party_0004.jpg"]
	],
	displaymode: {type:'auto', pause:3000, cycles:0, wraparound:false},
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 500, //transition duration (milliseconds)
	descreveal: "always",
	togglerid: ""
})
</script>


<img src="images/picturegallerytab.png" />
<div id="thumb_container">
  <div class='img_slider' id='slideshow_left_slider'> < </div>
  <div id="fadeshow1"></div>
  <div class='img_slider' id='slideshow_right_slider'> > </div>
</div>

<script>
  jQuery('#slideshow_left_slider').mouseover(function() {jQuery(this).css('background-color', '#6e6e6e')});
  jQuery('#slideshow_left_slider').mouseout(function(){jQuery(this).css('background-color', 'transparent')});
  jQuery('#slideshow_right_slider').mouseover(function() {jQuery(this).css('background-color', '#6e6e6e')});
  jQuery('#slideshow_right_slider').mouseout(function(){jQuery(this).css('background-color', 'transparent')});
</script>
