<div id='about_container'>
  <div id='about_content_container'>
    <div id='about_title'></div>
    <div id='access_container' class='about_content'>
      <div id='access_title' class='content_title'>
        <span class='accent_word'>ACCESS</span> NIGHTLIFE
      </div>
      <div id='access_content'>
        <p>Access Nightlife was founded in April of 2004, as 4 individuals saw the need to bring innovation and creativity into the lacking space of Asian nightlife. Based in New York, Access Nightlife is an events marketing group that hosts periodic and annual events at the most exclusive and trendiest clubs/venues in Manhattan.</p>
        <p>By introducing fresh new concepts and ideas, Access Nightlife is clearly emerging as the most prominent and respectable force in NYC's Asian Nightlife scene. With the ultimate goal of bringing new energy into the term "nightlife", we've used our revolutionary ideas to add value to the Asian entertainment scene.</p>
        <p>Introducing the partners: Gary Yuan, Kiet Tran, Steve Wong, Derrick Leon, Will Cheung, Ray Ye.</p>
      </div>
    </div>
    <br/>
    <div id='mission_statement_container' class='about_content'>
      <div id='mission_statement_title' class='content_title'>
        <span class='accent_word'>MISSION</span> STATEMENT
      </div>
      <div id='mission_statement_content'>
        <p>Our mission is to continuously raise the bar in Asian Nightlife by keeping the scene exciting, refreshing and innovative. We not only strive to rise above the others in the industry, but to constantly refine our own image and standards to maintain a youthful, upscale and luxurious client base. We are the reason that the city never sleeps!!!</p>
      </div>
    </div>
  </div>
</div>
