<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <%= stylesheet_link_tag "access_denied.css"%>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
<body>
  <div id='outer_div'>
		  <div id='logo_div'><img src='/images/access_logo.png' /></div>
    <div id='title_div'>Access Denied.</div>
    <div class='clear'></div>
    <div id='content'>You do not have access to this area.</div>
  </div>
</body>
</html>
