<script type="text/javascript" src="/javascripts/jquery-1.4.4.js"></script>
<script type="text/javascript">
function addEntry() {
  var count = parseInt($("#param_count").val()) + 1;
	 var newFileField = $(document.createElement('input'))
            .attr({ id: 'gallery_image_' + count, type: 'file', name: 'gallery_image_' + count});
  tr = $('<tr>');
  tr.append('<td>File:</td>');
  $('<td>')
    .append(newFileField)
    .appendTo(tr);
  $('#image_upload_table')
    .append(tr);

  $("#param_count").val(count);
}
</script>
<div id='gallery_upload_div'>
  <div class='notes'>All images need to adhere to a width to height ratio of 225:165 or else the images may look skewed</div>
  <a href='javascript:addEntry()'>Add File</a>
  <% form_tag "/admin/gallery/add_images/#{id}", :id => 'upload_image_form', :multipart => true do %>
    <table id="image_upload_table">
      <tr>
        <td>File:</td>
        <td>
        <input type='file' name='gallery_image_1' id='gallery_image_1'>
        </td>
      </tr>
    </table>
  <input id='param_count'  type='hidden' value=1>
  <input id='action' name='load_page' type='hidden' value='<%= action -%>'>
  <input id='id'  type='hidden' value='<%= id -%>'>
  <input type='submit' name='submit' value='submit' onClick='javascript:$("#upload_image_form").submit()'>
  <% end -%>
</div>
